<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="superSocket"
             type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
  </appSettings>
  <superSocket>
    <servers>
      <server name="PlayServer"
              serverType="GoldNumberServer.PlayServer, GoldNumberServer"
              maxConnectionNumber="100"
              maxRequestLength="8192"
              >

        <listeners>
          <add ip="Any" port="2020"/>
          <add ip="Any" port="2021"/>
          <add ip="Any" port="2022"/>
          <add ip="Any" port="2023"/>
          <add ip="Any" port="2024"/>
          <add ip="Any" port="2025"/>
          <add ip="Any" port="2026"/>
          <add ip="Any" port="2027"/>
          <add ip="Any" port="2028"/>
          <add ip="Any" port="2029"/>
          <add ip="Any" port="2030"/>
          <add ip="Any" port="2031"/>
          <add ip="Any" port="2032"/>
          <add ip="Any" port="2033"/>
          <add ip="Any" port="2034"/>
          <add ip="Any" port="2035"/>
          
        </listeners>
        <userDataSource FilePath = "UserList.txt" ></userDataSource>
      </server>
      <server name="WSServer"
              serverType="WebSocketTest.WSServer, WebSocketTest"
              maxConnectionNumber="100">

        <listeners>
          <add ip="Any" port="8086" />
        </listeners>
      </server>
    </servers>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>