<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="superSocket"
             type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
  </appSettings>
  <superSocket>
    <servers>
      <server name="DistributeServer"
                serverType="GoldNumberServer.DistributeServer, GoldNumberServer"
                maxConnectionNumber="100">
        <listeners>
          <add ip="Any" port="8090" />
        </listeners>
      </server>
      <server name="PlayServer"
              serverType="GoldNumberServer.PlayServer, GoldNumberServer"
              maxConnectionNumber="200"
              maxRequestLength="128"              
              connectionFilter="IpSec"
              >

        <listeners>
          <add ip="Any" port="7020"/>
          <add ip="Any" port="7021"/>
          <add ip="Any" port="7022"/>
          <add ip="Any" port="7023"/>
          <add ip="Any" port="7024"/>
          <add ip="Any" port="7025"/>
          <add ip="Any" port="7026"/>
          <add ip="Any" port="7027"/>
          <add ip="Any" port="7028"/>
          <add ip="Any" port="7029"/>
          <add ip="Any" port="7030"/>
          <add ip="Any" port="7031"/>
          <add ip="Any" port="7032"/>
          <add ip="Any" port="7033"/>
          <add ip="Any" port="7034"/>
          <add ip="Any" port="7035"/>
          
        </listeners>
        <userDataSource FilePath = "UserList.txt" ></userDataSource>
      </server>
      <server name="WSServer"
              serverType="WebSocketTest.WSServer, WebSocketTest"
              maxConnectionNumber="60">
        <listeners>
          <add ip="Any" port="8072" />
          <add ip="Any" port="8073" />
          <add ip="Any" port="8074" />
          <add ip="Any" port="8075" />
          <add ip="Any" port="8076" />
          <add ip="Any" port="8077" />
          <add ip="Any" port="8078" />
          <add ip="Any" port="8079" />
          <add ip="Any" port="8080" />
          <add ip="Any" port="8081" />
          <add ip="Any" port="8082" />
          <add ip="Any" port="8083" />
          <add ip="Any" port="8084" />
          <add ip="Any" port="8085" />
          <add ip="Any" port="8086" />
          <add ip="Any" port="8087" />
        </listeners>
      </server>
    </servers>
    <connectionFilters>
      <add name="IpSec"
           type="GoldNumberServer.BlackBoard, GoldNumberServer" />
    </connectionFilters>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>